alias v='nvim'
alias vim='nvim'
alias suvi='sudo nvim'
alias syu='yay -Syu'
alias vpoly='nvim ~/.config/polybar/config'
alias vpolymod='nvim ~/.config/polybar/modules.ini'
alias copy='xclip -selection clipboard'
alias paste='xclip -selection clipboard -o'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias cdsite='cd /home/omk/Insync/otaviokavakama@gmail.com/Google\ Drive/WEBSITE/kavotaman.github.io/'
alias jekylls='bundle exec jekyll serve -l'
alias jekyllb='bundle exec jekyll build'
alias git-push='git add --all && git commit -m "hello" && git push'
alias f='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias dma='cd /home/omk/Insync/otaviokavakama@gmail.com/Google\ Drive/DMA\ BGSU\ 2019-'
alias document='cd /home/omk/Insync/otaviokavakama@gmail.com/Google\ Drive/DMA\ BGSU\ 2019-/DOCUMENT'
alias wfon='nmcli radio wifi on'
alias wfoff='nmcli radio wifi off'
alias wkhtmltopdf='wkhtmltopdf -s letter'
alias dotfiles='/usr/bin/git --git-dir=/home/omk/.dots/ --work-tree=/home/omk'
alias pacman-no-snap='sudo SKIP_AUTOSNAP= pacman -Syu'
alias cpu-max='tuned-adm profile latency-performance'
alias cpu-balanced='tuned-adm profile balanced'
alias cpu-min='tuned-adm profile laptop-battery-powersave'
alias ls='exa --icons --long --header'
alias vbspwm='nvim /home/omk/.config/bspwm/bspwmrc'
alias vkeyb='nvim /home/omk/.config/sxhkd/sxhkdrc'
alias wal='nitrogen --random --set-zoom-fill /home/omk/Pictures/WP &'
alias th='theme.sh'
alias music='ncmpcpp'
alias z='zathura'
alias performance-cpu='sudo cpupower frequency-set -g performance'
alias powersave-cpu='sudo cpupower frequency-set -g powersave'
alias todo='nvim /home/omk/Documents/todo.txt'
alias trips='cd /home/omk/Insync/otaviokavakama@gmail.com/Google\ Drive/Trips/'
alias git-site='jekyllb && cd _site && git add --all && git commit -m "hello" && git push'
